*{
    margin:0px;
    padding:0px;
}

body{
    background-color: aquamarine;
    margin-left: 10%;
    margin-right: 6%;
}

h1{
    font-size: 63px;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 24px;
}
h2{
    font-size: 36px;
    margin-bottom: 15px;
    color:rgba(27, 64, 105, 0.473)
}

h3{
    font-size: 10px;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 15px;
    margin-left: 80%;
}

h4{
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 15px;
    margin-top: 15px;
}

h5{
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 15px;
    margin-top: 15px;
    color:slateblue
}

p{
    font-size: 12px;
    font-family: 'Courier New', Courier, monospace;
    line-height: 24px;
    margin-block-end: 5%;
}

ul{
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 15px; 
    margin-top: 15px;
    margin-left: 30%;
    color:rgb(33, 24, 168)
}

.pullquote{
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 24px;
    margin-left: 10%;
    margin-bottom: 15px;
    margin-top: 15px;
    margin-block-end: 5%;
    color:rgb(216, 33, 33)

}
.pullquote:hover{
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    line-height: 24px;
    margin-left: 10%;
    margin-bottom: 15px;
    margin-top: 15px;
    color:rgba(255, 255, 255, 0.925)

}

#pullquotespecial{
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 24px;
    color:rgb(33, 24, 168)
}